<h1>Articles</h1>

<% for article in @articles %>
<hr />
<h3><a href="/blog/articles/show?id=<%= article.id %>"><%= article.title %></a></h3>
<%= article.body_html %>
<p><%= article.comments.count %> Comments</p>
<% end %>